# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Sensitive / runtime configs
*.json
# OR more specific (recommended)
mqtt_config.json
users.json
pairing.json
modbus_logs.json
modbus_devices.json